{% extends 'base_login.html' %}
  
  
{% block content %}
   <div class="container sms-container">
        {{ msg }}
   </div>
   <div class="container login-form">
        <form method="POST">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Log In</a></button>
        </form>
   </div>

   <div class=" container register-question">
        <p>Don't have an Account? <a href="/" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></p>
    </div>
  
{% endblock %}